<h1>{{title}}</h1>

<table>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Email</td>
        <td>Phone</td>
        <td>Major</td>
        <td>Std_Id</td>
    </tr>
    {{#each emp_res}}
    <form method="post" action="/update"><tr>
        <td><input type="text" name="id" placeholder={{Id}} value={{Id}} /></td>
        <td><input type="text" name="name" placeholder={{Name}} value={{Name}} /></td>
        <td><input type="text" name="email" placeholder={{Email}} value={{Email}} /></td>
        <td><input type="text" name="phone" placeholder={{Phone}} value={{Phone}} /></td>
        <td><input type="text" name="major" placeholder={{Major}} value={{Major}} /></td>
        <td><input type="text" name="std_id" placeholder={{Std_Id}} value={{Std_Id}} /></td>
        <td><input type="submit" value="수정"></td>
    </tr></form>
    
    {{/each}}
</table>