<h1>{{title}}</h1>

<table>
    <tr>
        <td>Id</td>
        <td>Name</td>
    </tr>
    {{#each building}}
    <tr>
        <td>{{Id}}</td>
        <td>{{Name}}</td>
    </tr>
    {{/each}}
</table>

<h1>{{title2}}</h1>

<table>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Professor</td>
        <td>Participants</td>
        <td>Building_Id</td>
        <td>Room_Id</td>
    </tr>
    {{#each lecture}}
    <tr>
        <td>{{Id}}</td>
        <td>{{Name}}</td>
        <td>{{Professor}}</td>
        <td>{{Participants}}</td>
        <td>{{Building_Id}}</td>
        <td>{{Room_Id}}</td>
    </tr>
    {{/each}}
</table>

<h1>{{title3}}</h1>

<table>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Student_Id</td>
    </tr>
    {{#each club}}
    <tr>
        <td>{{Id}}</td>
        <td>{{Name}}</td>
        <td>{{Student_Id}}</td>
    </tr>
    {{/each}}
</table>

<h1>{{title4}}</h1>

<table>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Email</td>
        <td>Phone</td>
        <td>Room_Id</td>
        <td>Student_Id</td>
    </tr>
    {{#each department}}
    <tr>
        <td>{{Id}}</td>
        <td>{{Name}}</td>
        <td>{{Email}}</td>
        <td>{{Phone}}</td>
        <td>{{Room_Id}}</td>
        <td>{{Student_Id}}</td>
    </tr>
    {{/each}}
</table>

<h1>{{title5}}</h1>

<table>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Position</td>
    </tr>
    {{#each employee}}
    <tr>
        <td>{{Id}}</td>
        <td>{{Name}}</td>
        <td>{{Position}}</td>
    </tr>
    {{/each}}
</table>

<h1>{{title6}}</h1>

<table>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Capacity</td>
        <td>Building_Id</td>
    </tr>
    {{#each room}}
    <tr>
        <td>{{Id}}</td>
        <td>{{Name}}</td>
        <td>{{Capacity}}</td>
        <td>{{Building_Id}}</td>
    </tr>
    {{/each}}
</table>

<h1>{{title7}}</h1>

<table>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Email</td>
        <td>Phone</td>
        <td>Major</td>
        <td>Std_Id</td>
    </tr>
    {{#each student}}
    <tr>
        <td>{{Id}}</td>
        <td>{{Name}}</td>
        <td>{{Email}}</td>
        <td>{{Phone}}</td>
        <td>{{Major}}</td>
        <td>{{Std_Id}}</td>
    </tr>
    {{/each}}
</table>

<h1>{{title8}}</h1>

<table>
    <tr>
        <td>Student_Id</td>
        <td>Class_Id</td>
    </tr>
    {{#each student_has_class}}
    <tr>
        <td>{{Student_Id}}</td>
        <td>{{Class_Id}}</td>
    </tr>
    {{/each}}
</table>